<!doctype html>
<head>
	<title>*spams shes going to gloat*</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Assault: No buff</td><br>
      <td>Passive:<br>     Marked for death: See deathboxes, over the entire map with howlog ago they died</td><br>
      <td>Tactical ability:<br>      ARC snare: throw a snare with no bulletdrop that tethers the first thing it hits (cooldown 25s)</td><br>
      <td>Ultimate ability:<br>     Phase tear: A one-way instant wraith portal. thats it (chargetime: 120s</td><br>
    </ul>
      
  </p>
  <img src="https://i.ytimg.com/vi/mQOySKq-hfc/maxresdefault.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 11 and is called Ash.<br>
  Ash is originaly a character from Titanfall 2 (Rip that game) and is the Second or third simalacrum of apex (depends on if you see path as a sim). despite on paper sounding OP AF ash is severly underpowered.
 
  </div>
