<!doctype html>
<head>
	<title>smoking my team so much they cant see</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Assault: No buff</td><br>
      <td>Passive:<br>     Double Time: if someone shoots at you get a movement speed buff</td><br>
      <td>Tactical ability:<br>      Smoke launcher: fire a smoke grenade that sometimes blocks vision entirely and sometimes people still see tou outside of it<br>(Cooldown: 33s max stack 2)</td><br>
      <td>Ultimate ability:<br>     Rolling thunder: call in an artillery strike that slowly creeps further away (Charge time: 180s)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/f/f7/Bangalore.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 0 and is called Bangalore.<br>
  Bangalore was a soldier in the IMC and lost her brother in combat. now she plays in the apex games to get back to her family.<br>
  Bangalore in one of the lgbt legends in Apex legends, she is in love with loba.
  </div>