<!doctype html>
<head>
	<title>Allfather make me blind</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Recon: can scan survey beacons to find the next ring location</td><br>
      <td>Passive:<br>      Tracker: See tracks left beheind by your foes</td><br>
      <td>Tactical ability:<br>      Eye of the Allfather: Briefly reveal enemies, traps, and clues throughout structures infront of you. (cooldown: 25s)</td><br>
      <td>Ultimate ability:<br>      Beast of the Hunt: Enhances your senses, allowing you to move faster and highlighting your prey. (charge time: 180s)</td><br>
    </ul>
      
  </p>
  <img src="https://th.bing.com/th/id/R.9181f89704a51fe7cd81e84d87ddbefc?rik=%2ba0AjJkxs6QbpA&pid=ImgRaw&r=0"width="500px">
  <p>This legend came out in season 0 and is called bloodhound.<br>
  He is from the map worlds edge and calls himself blothünder.<br>
  Bloodhound is good friends with walter "fuse" fitzroy.<br>
  Bloodhoud expiriences pain everytime he drops on world edge because<br>
  he blames himself for the actions of Hammond robotics and their <br>
  "planet harvester" wich is destroying his home planet as is shown by<br>
  the groeing number of chasms wich have lava at the bottom that came <br>
  from the planets mantle.<br> 
  Recently it is revealed that Bloodhoud felt this way. In the quest<br>
  you followed Bloodhound as he tracked a wounded prowler to end <br>
  its suffering. during this he is confronted by his deceased uncle<br>
  and mentor Artur. Artur as Bloodhounds worst demons tells Bloodhound <br>
  what he already thinks he knows. That his parents death and the suffering<br>
  of his poeple is his fault.<br>
  In the finale of this quest you enter a cutscene in wich you have full<br>
  control over your movement. In this cutscene Bloodhound enters a vision,<br>
  in this vision Artur tells Bloodhound that he has no right to his title<br>
  as blothünder. Bloodhound faces his demons and tells Artur no.</p>