<!doctype html>
<head>
	<title></title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div style="width:750px;">
    Abilities
    <ul>
      <td>Class:<br>      Fotified: Takes 10% les damage from everything</td><br>
      <td>Passive:<br>     Nox vision: Gain threat vision in Causic gas</td><br>
      <td>Tactical ability:<br>      Nox gas trap: set down a caustic gas trap that will activate when shot or if someone comes to close. Only damages health. When bottom part of trap gets shot trap disarms(Cooldown: 25s, Max 6 traps out)</td><br>
      <td>Ultimate ability:<br>     nox gas grenande: throw a grenade that explodes in a gas cloud</td><br>
    </ul>
      
  </div>
  <img src=width="500px">
  <div style="width:750px;">This legend came out in season 0 and is called Caustic.<br>
  Caustic's real name is alexander nox<br>
  Caustic is often refered to as either gas daddy or fart daddy so if you hear this callout ingame: "look out, fart." a gas trap has gone off. Caustic has a stereotype that players who play caustic do nothing but camp.
 
  </div>