<!doctype html>
<head>
	<title>ult desroys gibby domes</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Recon: can scan survey beacons to find the next ring location</td><br>
      <td>Passive:<br>     Neurolink: Crypto and his teammates see what the Surveillance Drone detects up to a 30-meter radius.</td><br>
      <td>Tactical ability:<br>      Surveillance Drone: Deploys an aerial drone. 40-second cooldown if destroyed.</td><br>
      <td>Ultimate ability:<br>    Drone EMP: Charge up an EMP blast from your drone. Deals 50 shield damage, slows players, and disables traps(chargetime: 180s).</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/1/1f/Crypto.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 3 and is called crypto.<br>

  Crypto has a stereotype that he always arrives late to the fight. which is often true. Crypto was the edgelord main in season 3. but imediatly got outshined by revanant.
  </div>
