<!doctype html>
<head>
	<title>EMP counters dome</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Fotified: Takes 10% les damage from everything</td><br>
      <td>Passive:<br>     Gun shield: ADSing deploys a gunshield that blocks incomming fire(50hp before it needs to recharge, this takes 9s)</td><br>
      <td>Tactical ability:<br>      Dome of Protection: Throw a dome-shield that blocks attacks for 15 seconds(Cooldown: 30s)</td><br>
      <td>Ultimate ability:<br>     Defensive Bombardment: Call in a concentrated mortar strike on a marked position(Charge Time: 180s)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/8/8b/Gibraltar.jpg"width="500px">
  <p>This legend came out in season 0 and is called Gibraltar. but often refered to as Gibby.<br>
  This legend was the first lgbt legend in apex.<br>
  Gibby used to work as a rescue volunteer.<br>
  Gibby owns a motorbike.<br>
  Gibby is best used with shotguns and as a support for his team because he has a faster revive than everyone else when in his dome.

</p>