<!doctype html>
<head>
	<title>SHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUPSHUTUP</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Assault: No buff</td><br>
      <td>Passive:<br>     Spacewalk: improved airstrafing and no stun when falling great distances</td><br>
      <td>Tactical ability:<br>      Gravity lift: throw an upwards stream that can bve used by your team (Cooldown:  20s)</td><br>
      <td>Ultimate ability:<br>     Blackhole: throw a black hole....(chargetime: 180s)</td><br>
    </ul>
      
  </p>
  <img src="https://tiermaker.com/images/templates/484031604335637.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 7 and is called Horizon.<br>
  She has almost no unique quips. it feels like she has 2 quips per action. 1 for non-ash and 1 for ash. this is a reason most people who play apex dislike her character
  </div>