<!doctype html>
<head>
	<title>Mozambique here</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Support: no buff</td><br>
      <td>Passive:<br>     Combat medic: Deploy D.O.C. to revive teammates, leaving you free to defend</td><br>
      <td>Tactical ability:<br>      D.O.C. Heal Drone: deloy D.O.C to heal everyone that stands next to it(Cooldown: 45s, max healing over everyone 150hp)</td><br>
      <td>Ultimate ability:<br>      Care Package: Call a lifeline package with guarenteed upgrades to you and your teammates gear(chargetime: 360s)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/4/4f/Lifeline.jpg"width="500px">
  <p>This legend came out in season 0 and is called Lifeline.<br>
  Lifeline is a combat medic called Ajay Che<br>
  Lifeline helpt her friend Octane get his robotic legs<br>
  Lifeline will get a movemnt penalty for trying to revive but if Lifline is reviving someone and she goes down the revive will continue,<br>
  despite the entire squad being down

</p>