<!doctype html>
<head>
	<title>Liked for reasons</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Support: no buff</td><br>
      <td>Passive:<br>     Eye for Quality:Nearby epic and legendary loot can be seen through walls. The range is the same as Black Market Boutique.</td><br>
      <td>Tactical ability:<br>      Burglar's Best Friend: Teleport to hard-to-reach places or escape trouble quickly by throwing your jump drive bracelet(cooldown 30s).</td><br>
      <td>Ultimate ability:<br>     Black Market Boutique: Place a portable device that allows you to teleport nearby loot to your inventory. Each friendly or enemy Legend can take up to two items(chargetime 120s deploy with 50%).</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/thumb/7/7d/Loba.jpg/160px-Loba.jpg?version=ea28a7dee82985bd85b909c88a4b1b09"width="500px">
  <div style="width:750px;">This legend came out in season 5 and is called Loba.<br>
  This legends ult helps their entire team with getting loot quick. when you play with a 3-stack or 2-stack in trios or duos respectively, pop ult the moment it is charged.
 
  </div>