<!doctype html>
<head>
	<title>Bamboozled</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Assault: No buff</td><br>
      <td>Passive:<br>     Now You see me: Become invisible when respawning or reviving a teammate</td><br>
      <td>Tactical ability:<br>      Psyche out: Send out a decoy that wqhen shot reveals location of shooter(cooldown: 15s)</td><br>
      <td>Ultimate ability:<br>     Life the part: Deploy a lot of decoys that mimic your movement but in a difrent direction (become invisible when deploying)(Charge time: 60s)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/a/a6/Mirage.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 0 and is called Mirage.<br>
  Mirage is a legend that is either realy good or realy bad depending on the enemy. when you are fighting a newer player you can blamboozle them. but, when facing an enemy that is experienced he will be very underpowered.
  </div>


