<!doctype html>
<head>
	<title>Ayy, lets go already</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Assault: No buff</td><br>
      <td>Passive:<br>     Swift mend: Passively regain health after not taking damage for a while</td><br>
      <td>Tactical ability:<br>      Stim: stim yourself to move fatser at the cost of 20 health (cooldown: 1s, cant kill yourself when stimming at less than 20 health)</td><br>
      <td>Ultimate ability:<br>     Jump pad: throw a jump pad that launches you and allows you to double jump while launced(chargetme: 60s, crouch to gain more horizontal distance and jump for more vertical distance.)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/d/d6/Octane.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 0 and is called Octane.<br>
  Octane is an adrenaline junkie who is ignored by his parents so he started doing more and more dangerous stunts. one day he deceided that he wanted the record on a sprint track so helaunched himself across the finishline... with a grenade. this is how he lost his legs and pushed his friend lifeline to get him a pair of robotic legs. he uses stims that are so full of chemicals they are only supossed to be used by simalacrum pilots. in titanfall a npc makes a quip about how onetime he but 1 drop of it in his coffe and he couldnt sleep for a week. octane only survives his stims by having 3 artificial pairs of kidneys on his back.
  </div>