<!doctype html>
<head>
	<title>Remeber me friends, I may kill you</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Recon: Recon: can scan survey beacons to find the next ring location</td><br>
      <td>Passive:<br>      Insider Knowledge: scan a survey beacon and get the added effect of charging your ult</td><br>
      <td>Tactical ability:<br>      Grappling Hook: Grapple to get to out of reache places quickly (cooldown varries on grapple distance, press tactical again to disconect grapple)</td><br>
      <td>Ultimate ability:<br>      Zipline Cannon: Create a zipline(charge time: 120s)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/5/53/Pathfinder.jpg"width="500px">
  <p>This legend came out in season 0 and is called Pathfinder. and is often refferd to as Pathy or Path<br>  When used correctly Pathfinder is the fastes charachter in the game with the best movement.<br>Path came to life as a MRVN to be used for scouting, but was coded in a way to basicly become a simalacrum with a friendly personality. he calls everyone<br>his friends. He likes everyone but is searching for his creator, which is why he joined the apex games to gain a following.<br>
  Path is one of the three fully robotic legends in apex. Pathfinder is the first person to have discovered Ash when she was dumped broken in a dumpster. Which is<br> why he thinks Ash is his girlfriend.<br>
  Pathfinder is a proffesional boxer and has his own boxing ring on the map olympus called pathfinders fight night<br>the two most impressive fighters in the history of fight night are pathfinder and revenant.<br>
  in this fight night's boxing ring you cannot use anything other than your fists, legs and healing.


</p>