<!doctype html>
<head>
	<title>USE LMGS FFS</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Defensive: no buff</td><br>
      <td>Passive:<br>     Modded Loader: Increased magazine/heat capacity and faster reloads/recharge when using LMGs and the Minigun.</td><br>
      <td>Tactical ability:<br>      Amped Cover: Build a crouch-cover wall, which deploys a full-cover amped wall that blocks incoming shots and amps outgoing shots. (Max: 5 Cooldown: 30s)</td><br>
      <td>Ultimate ability:<br>     Mobile Minigun "Sheila": 	Wield a mobile minigun with a single high capacity magazine. Place it down for anyone to use as a stationary and reloadable turret (Max: 3 chargetime:120s)</td><br>
    </ul>
      
  </p>
  <img src="https://th.bing.com/th/id/OIP.RCEtWDuUjhDBvOPAKwg7OgHaHa?pid=ImgDet&rs=1"width="500px">
  <div style="width:750px;">This legend came out in season 6 and is called Rampart.<br>
  Ramparts walls will cause shots going through the blue side to deal more damage.
  if you play rampart please use an lmg when possible.
 
  </div>
