<!doctype html>
<head>
	<title>Best movement in the game (apart from pathfinder)</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Recon: can scan survey beacons to find the next ring location</td><br>
      <td>Passive:<br>     VTOL jets: is jetpack, has fuel meter that recharges...</td><br>
      <td>Tactical ability:<br>      Missile swarm: fire a swarm of rockets (cooldown: 30s)</td><br>
      <td>Ultimate ability:<br>     Skyward dive: basicly, mobile jumptower. (Chargetime: 180s)</td><br>
    </ul>
      
  </p>
  <img src="https://media.contentapi.ea.com/content/dam/apex-legends/common/legends/valkyrie/apex-section-bg-legends-valkyrie-xl.jpg.adapt.1024w.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 9 and is called Valkyrie.<br>
  Valkyrie is a lesbian charchter that stole a Titan at a young age and then crached it imediatly. Valkyrie is disliked because she is every stereotype in 1 charcter. valkyries abilities on the otherhand are very apreciated in the comunity.
 
  </div>