<!doctype html>
<head>
	<title>*insert electricity pun*</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Defensive: no buff</td><br>
      <td>Passive:<br>     spark of genius:  Ultimate Accelerants fully charge Wattson's ultimate and she can carry 2 Ultimate Accelerants in 1 slot, slowly restores her shields over time.</td><br>
      <td>Tactical ability:<br>      Perimeter Security"place a fence node that tells you whenn its crossed damaging and stunning the legend crossing it. (Cooldown:	15s, max 4 charges)</td><br>
      <td>Ultimate ability:<br>     Interception Pylon: Place an electrified pylon that destroys incoming ordnance and repairs damaged shields. Standing near Pylons boosts Wattson's tactical recharge rate. (Chargetime: 180s Max: 1. max shield pool 250)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/8/82/Wattson.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 2 and is called wattson.<br>
  wattson is the desinger of the ring. wattson does not hold a gun properly when running
  </div>
