<!doctype html>
<head>
	<title>GuYs lOoK aT mE I haVe a TtV</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:<br>      Assault: No buff</td><br>
      <td>Passive:<br>     Voices from the void: you get a warning every time someone can shoot you or if traps are nearby</td><br>
      <td>Tactical ability:<br>      Into the Void: you can to into the voit to become invisable and invinceable for a short period (Cooldown: 25s, you leave beheind a blue tracer when in the void)</td><br>
      <td>Ultimate ability:<br>     Dimensional Rift: Create two portals and get a movement speed buff while doing so(Charge time: 210s, you leave beheind a blue tracer when in the void,<br>portals last 60s when not outside the ring, when outside the ring portals last 8s)</td><br>
    </ul>
      
  </p>
  <img src="https://gamepedia.cursecdn.com/apexlegends_gamepedia_en/a/a4/Wraith.jpg"width="500px">
  <div style="width:750px;">This legend came out in season 0 and is called Wraith<br>
  Wraith is a sience experiment that now allows her to travel between timelines trough: The void. Wraith has one of the smallest hitboxes in the game and has a stereotype that she is only played by TTVs.
  </div>