<!doctype html>
<head>
	<title>Leg ends</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  
  <p>
    Some of the guns up to this season are:
    <br>  
    </p>
    <table border="1px">
      <tr>
        <td>Gun</td>
        <td>Ammo type</td>
        <td>Titanfall 2 counterpart</td>
      </tr>

      {%for element in all_guns%}
      <tr>
        <td>{{element[0]}}</td>
        <td>{{element[1]}}</td>
        <td>{{element[2]}}</td>
      </tr>

      {%endfor%}
      </table>
</body>