<!doctype html>
<head>
	<title>Kraber</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>W.I.P!</h1>
	<p>
		Im working on it
	</p>
  <h2>What wil this be</h2>
  <P>
    I'm going to create a site with stats on how the guns in Apex behave.
    <br>So....
  </p>
  <ol>
    <li>Guns</li>
    <ul>
      <li>Recoil paterns</li>
      <li>damage dropoff</li>
      <li>projectile speed</li>
    </ul>
    <li>Legends (maybe a login for picking who you main)</li>
    <li><b>(BIG maybe)</b> Locations where you have the best chance for good loot on maps </li>
  </ol>
  <a href="https://kraber.herokuapp.com/client/Bro/">For visiters of this site<br></a>
  <img src="https://gamepedia.cursecdn.com/titanfall_gamepedia/2/28/ApexPredators_Logo.png" width="150px">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link to a working site like thats made by a friend.</a>

</body>