<!doctype html>
<head>
	<title>Kraber</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Welcome!</h1>
	<p>
		This is my site about apex legends called kraber
	</p>
  <h2>This is the main page</h2>
  <P>
    Below this line of text i will put handy links to the pages of this site
  </p>
  <table border="1px">
      <tr>
        <td>Info about the <ul><a href="https://kraber.herokuapp.com/info/legends/">Legends</a></ul>
        <ul><a href="https://kraber.herokuapp.com/info/guns/">Guns</a></ul> 
      </tr>

  </table>

  <P>
    And below this will be a couple of jokes
  </P>
 
  <a href="https://kraber.herokuapp.com/client/Bro/">For visiters of this site<br></a>

  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link to a working site like thats made by a friend.</a>
  

</body>