<!doctype html>
<head>
	<title>Kraber</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>W.I.P!</h1>
	<p>
		Im working on it
	</p>
  <h2>What wil this be</h2>
  <P>
    I'm going to create a site with stats on how the guns in Apex behave.
  </p>
  <img src="https://gamepedia.cursecdn.com/titanfall_gamepedia/2/28/ApexPredators_Logo.png" width="150px">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link to a working site like this made by a friend.</a>
</body>