<!doctype html>
<head>
	<title>Leg ends</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>


  <p>
    <br>
    <br>    
    <br>    
    <br>
    The legends up to this season are:
    <br>
    <table border="1px">
      <tr>
        <td>Legend</td>
        <td>Season added</td>
      </tr>

      {%for element in all_legends%}

        <tr>
          <td>{{element[0]}}</td>
          <td>{{element[1]}}</td>
          <td><a href={{element[2]}}>Link</a></td>
        </tr>


      {%endfor%}
      </table>
      <br>
   
  </p>
  
  <form action="/info/legends/mains/" method='POST'>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="Username" name="Username">
      </div>
 
      <div>
        <label for="msg">main_legend:</label>
        <textarea id="msg" name="main"></textarea>
      </div>
    
      <div>
        <input type="submit" value="Send_answer">
      </div>
    </form>
</body>