<!doctype html>
<head>
	<title>This weapon has a long effective range for a SMG</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     SMG</td><br>
      <td>Ammo:     light</td><br>
      <td>Specialty:      low recoil for an smg.</td><br>
      <td>Base Damage:    16.</td><br>
      <td>Reload speed:    tactical:1.90s| non tactical:2.23s</td><br>
      <td>RPM:    600</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-alternator.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-alternator.jpg"width="500px">
  <div style="width:750px;">This gun is called an Alternator.<br>
 
  </div>