<!doctype html>
<head>
	<title>Rediculusly overpowered if you can hit ur shots</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Marksman</td><br>
      <td>Ammo:     Arrows</td><br>
      <td>Specialty:      Is silent| High damage per shot with medium RPM</td><br>
      <td>Base Damage:    60 full charge</td><br>
      <td>Reload speed:    N.A</td><br>
      <td>RPM:    107 full charged| 158 Tempo</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-bocek-bow-close.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-bocek-bow-close.jpg"width="500px">
  <div style="width:750px;">This "gun" is called a Bocek compund bow.<br>
 
  </div>