<!doctype html>
<head>
	<title>Worse than the titanfall CAR</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     SMG</td><br>
      <td>Ammo:     Heavy/Light</td><br>
      <td>Specialty:      Only Weapon with 2 ammo types| can take heavy or light mags</td><br>
      <td>Base Damage:    20</td><br>
      <td>Reload speed:   Tactical: 1.7| non tactical:  2.13</td><br>
      <td>RPM:    930</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-car-smg.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-car-smg.jpg"width="500px">
  <div style="width:750px;">This gun is called a CAR SMG.<br>
 
  </div>