<!doctype html>
<head>
	<title>Requires good tracking</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Sniper rifle</td><br>
      <td>Ammo:     Sniper</td><br>
      <td>Specialty:      Deals damge with a beam before dealing damage at the end| no bullet drop| uses 2 ammo instead of 1 per shot</td><br>
      <td>Base Damage:    45 full beam| 45 charge at end</td><br>
      <td>Reload speed:    3.6s</td><br>
      <td>RPM:    30</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-charge-rifle.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-charge-rifle.jpg"width="500px">
  <div style="width:750px;">This gun is called a Charge rifle.<br>
 
  </div>