<!doctype html>
<head>
	<title>its a DMR</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Sniper rifle</td><br>
      <td>Ammo:     Sniper</td><br>
      <td>Specialty:      Is Semi automatic</td><br>
      <td>Base Damage:    55</td><br>
      <td>Reload speed:    Tactical: 2.66| non tactical: 3.66</td><br>
      <td>RPM:    78</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-longbow.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-longbow.jpg"width="500px">
  <div style="width:750px;">This gun is called a Longbow DMR.<br>
 
  </div>