<!doctype html>
<head>
	<title>is hard to burst correctly</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     LMG</td><br>
      <td>Ammo:     Energy</td><br>
      <td>Specialty:      Draws directly from your backpack so no reloading| overheats</td><br>
      <td>Base Damage:    17</td><br>
      <td>Reload speed:    2.45s</td><br>
      <td>RPM:    600</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-l-star.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-l-star.jpg"width="500px">
  <div style="width:750px;">This gun is called an L-star.<br>
 
  </div>