<!doctype html>
<head>
	<title>Based on a FAMAS</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Assault rifle</td><br>
      <td>Ammo:     Heavy</td><br>
      <td>Specialty:      High dps and recoil</td><br>
      <td>Base Damage:    19</td><br>
      <td>Reload speed:    tactical: 2.40s| non tactical: 3.10s</td><br>
      <td>RPM:    600</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-flatline.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-flatline.jpg"width="500px">
  <div style="width:750px;">This gun is called a VK-47 Flatline.<br>
 
  </div>