<!doctype html>
<head>
	<title>Based on the M1 series</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Marksman</td><br>
      <td>Ammo:     Carepackage(120)</td><br>
      <td>Specialty:      Has double tap hopup</td><br>
      <td>Base Damage:    36</td><br>
      <td>Reload speed:    Tactical 2.40s| non tactical: 3.00s</td><br>
      <td>RPM:    240</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-scout.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-scout.jpg"width="500px">
  <div style="width:750px;">This gun is called a G7 scout.<br>
 
  </div>