<!doctype html>
<head>
	<title>Get a turbocharger</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Assault rifle</td><br>
      <td>Ammo:     Energy</td><br>
      <td>Specialty:      1 second priming time</td><br>
      <td>Base Damage:    18</td><br>
      <td>Reload speed:    3.20s</td><br>
      <td>RPM:    672</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-havoc.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-havoc.jpg"width="500px">
  <div style="width:750px;">This gun is called a HAVOC.<br>
 
  </div>