<!doctype html>
<head>
	<title>Burst or semi?</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Assault rifle</td><br>
      <td>Ammo:     Heavy</td><br>
      <td>Specialty:      Is a 3-round burst weapon</td><br>
      <td>Base Damage:    20</td><br>
      <td>Reload speed:    Tactical: 2.40| non tactical: 2.85</td><br>
      <td>RPM:    </td><br>
    </ul>
      
  </p>
  <img src=width="500px">
  <div style="width:750px;">This gun is called a Hemlok burst AR.<br>
 
  </div>