<!doctype html>
<head>
	<title>Only weapon with a confirmed caliber</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Sniper rifle</td><br>
      <td>Ammo:     Carepackage(12)</td><br>
      <td>Specialty:      Can 1 shot anyone at any range if you hit a headshot</td><br>
      <td>Base Damage:    145</td><br>
      <td>Reload speed:   Tactical: 3.20s| non tactical:  4.30s</td><br>
      <td>RPM:    36</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-kraber.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-kraber.jpg"width="500px">
  <div style="width:750px;">This gun is called a Kraber .50 cal. It uses 50 cal and is the reson this website has its name.<br>
 
  </div>
