<!doctype html>
<head>
	<title>Is based on a pump action, doesnt pump</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Shotgun</td><br>
      <td>Ammo:     Shotgun</td><br>
      <td>Specialty:      Only horizontal spread| built in ADS choke</td><br>
      <td>Base Damage:    11 per pellet| 8 pellets</td><br>
      <td>Reload speed:   Tactical: 1.09s| non tactical:  1.70s</td><br>
      <td>RPM:   66 no bolt| 73 bolt lvl1| 76 bolt lvl2| 79 bolt lvl3</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-mastiff.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-mastiff.jpg"width="500px">
  <div style="width:750px;">This gun is called a Mastiff shotgun.<br>
 
  </div>
