<!doctype html>
<head>
	<title>Mozambique here</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Shotgun</td><br>
      <td>Ammo:     Shotgun</td><br>
      <td>Specialty:      When requesting optics you request pistol optics</td><br>
      <td>Base Damage:    15 per pellet| 3 pellets</td><br>
      <td>Reload speed:   Tactical: 2.10s| non tactical:  2.60s</td><br>
      <td>RPM:    138 no bolt| 152 bolt lvl1| 165 bolt lvl2| 179 bolt lvl3 </td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-mozambique.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-mozambique.jpg"width="500px">
  <div style="width:750px;">This gun is called a Mozambique shotgun.<br>
 
  </div>
