<!doctype html>
<head>
	<title></title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Pistol</td><br>
      <td>Ammo:     Light</td><br>
      <td>Specialty:      N.A</td><br>
      <td>Base Damage:    18</td><br>
      <td>Reload speed:   1.25  </td><br>
      <td>RPM:    420</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-p2020.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-p2020.jpg"width="500px">
  <div style="width:750px;">This gun is called a P2020 and is <b>ALMOST</b> useless in BR because it has almost no range and a low firerate.<br>
 
  </div>
