<!doctype html>
<head>
	<title></title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     SMG</td><br>
      <td>Ammo:     Heavy</td><br>
      <td>Specialty:      5 burst</td><br>
      <td>Base Damage:    15</td><br>
      <td>Reload speed:   Tactical: 2.00s| non tactical:  2.60s</td><br>
      <td>RPM:    800</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-prowler.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-prowler.jpg"width="500px">
  <div style="width:750px;">This gun is called a Prowler burst PDW and is a 5 round burst.<br>
 
  </div>