<!doctype html>
<head>
	<title>Lever-action| hit 7s or 99s</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Shotgun</td><br>
      <td>Ammo:     Shotgun</td><br>
      <td>Specialty:      High damage low firerate| has a strong ADS charged choke| Spread in the form of a star</td><br>
      <td>Base Damage:    9 per pellet| 11 pellet</td><br>
      <td>Reload speed:   Tactical: 2.5s| non tactical:  3.5s</td><br>
      <td>RPM:    44 no bolt| 47 bolt lvl1| 50 bolt lvl2| 51 bolt lvl3</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-peacekeeper.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-peacekeeper.jpg"width="500px">
  <div style="width:750px;">This gun is called a Peackekeeper.<br>
 
  </div>