<!doctype html>
<head>
	<title>Best gun for begining players</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Assault rifle</td><br>
      <td>Ammo:     Light</td><br>
      <td>Specialty:      Low damage and recoil| High firerate</td><br>
      <td>Base Damage:    14</td><br>
      <td>Reload speed:   Tactical: 2.40s| non tactical:  3.20s</td><br>
      <td>RPM:    816</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-r-301-carbine.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-r-301-carbine.jpg"width="500px">
  <div style="width:750px;">This gun is called an R-301 Carbine.<br>
 
  </div>