<!doctype html>
<head>
	<title>Highest rpm in the game</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     SMG</td><br>
      <td>Ammo:     Light</td><br>
      <td>Specialty:      High firerate high recoil| high dps| low TTK</td><br>
      <td>Base Damage:    11</td><br>
      <td>Reload speed:   Tactical: 1.80s| non tactical:  2.45s</td><br>
      <td>RPM:    1080</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-r-99.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-r-99.jpg"width="500px">
  <div style="width:750px;">This gun is called a R-99.<br>
 
  </div>
