<!doctype html>
<head>
	<title>rewards good tracking</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Pistol</td><br>
      <td>Ammo:     Light</td><br>
      <td>Specialty:      Only weapon that cant 1clip someone with purple armor</td><br>
      <td>Base Damage:    12</td><br>
      <td>Reload speed:   Tactical: 1.5s| non tactical:  1.95s</td><br>
      <td>RPM:    750</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-re-45.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-re-45.jpg"width="500px">
  <div style="width:750px;">This gun is called a RE-45.<br>
 
  </div>