<!doctype html>
<head>
	<title>lesser longbow| leveraction repeater</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Marksman</td><br>
      <td>Ammo:     Heavy</td><br>
      <td>Specialty:      Charges when ADS 35% for extra damage</td><br>
      <td>Base Damage:    42non charged|57 charged</td><br>
      <td>Reload speed:   0.60</td><br>
      <td>RPM:    140</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex%20legends%2030-30%20repeater.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex%20legends%2030-30%20repeater.jpg"width="500px">
  <div style="width:750px;">This gun is called a 30-30 Repeater.<br>
 
  </div>