<!doctype html>
<head>
	<title>Bolt-action</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Sniper rifle</td><br>
      <td>Ammo:     Sniper</td><br>
      <td>Specialty:      Bolt-action so you need to load a bullet into the chamber between every shot| can be amped to increse damage and reduce bullet drop</td><br>
      <td>Base Damage:    70 normal |88 amped</td><br>
      <td>Reload speed:   Tactical: 2.50s| non tactical:  3.60s</td><br>
      <td>RPM:    37.5</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-sentinel.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-sentinel.jpg"width="500px">
  <div style="width:750px;">This gun is called a Sentinel.<br>
 
  </div>