<!doctype html>
<head>
	<title>Based on a M60</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     LMG</td><br>
      <td>Ammo:     Carepackage(425)</td><br>
      <td>Specialty:      Low recoil high damage| large mag(55)| Highest burst damage</td><br>
      <td>Base Damage:    19</td><br>
      <td>Reload speed:   Tactical: 3.20s| non tactical:  3.80s</td><br>
      <td>RPM:    540</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-spitfire.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-spitfire.jpg"width="500px">
  <div style="width:750px;">This gun is called a M600 spitfire.<br>
 
  </div>