<!doctype html>
<head>
	<title>Why cant you put a shotgun bolt on it??</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Marksman</td><br>
      <td>Ammo:     Energy</td><br>
      <td>Specialty:      ADS choke| uses 3 ammo per shot</td><br>
      <td>Base Damage:    23 per bullet| 3 bullets per shot</td><br>
      <td>Reload speed:   Tactical: 2.60s| non tactical: 3.40s</td><br>
      <td>RPM:    78</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-triple-take.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-triple-take.jpg"width="500px">
  <div style="width:750px;">This gun is called a Triple take.<br>
 
  </div>