<!doctype html>
<head>
	<title>Either you hit your shot or you dont. the way of the revolver</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <p>
    Abilities
    <ul>
      <td>Class:     Pistol</td><br>
      <td>Ammo:     Heavy</td><br>
      <td>Specialty:      High Damage "high" firerate</td><br>
      <td>Base Damage:    45</td><br>
      <td>Reload speed:   2.10</td><br>
      <td>RPM:    156</td><br>
    </ul>
      
  </p>
  <img src="https://assets2.rockpapershotgun.com/apex-legends-wingman.jpg/BROK/resize/1920x1920>/format/jpg/quality/80/apex-legends-wingman.jpg"width="500px">
  <div style="width:750px;">This gun is called a Wingman.<br>
 
  </div>